<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>OAuth2 WebClient Showcase</title>
    <meta charset="utf-8" />
</head>
<body>
<a th:href="@{/logout}">Log Out</a>
<h1>Endpoints</h1>

<h2>Private</h2>
<ul>
    <li><a th:href="@{/messages}">Private</a> endpoint where Google auth is required</li>
</ul>
<h2>Public</h2>
<ul>
    <li><a th:href="@{/public/messages}">Public</a> endpoint where no authentication is required</li>
</ul>

</body>
</html>